footer{
  background-color: $background-gray;
  padding:60px 0 63px;
  margin-top:150px;
  .market-site-links{
    @include flexbox(space-between,center);
    padding-bottom: 30px;
    border-bottom:1px solid $line-gray;
    ul{
      @include flexbox();
      &.site-links{
        li{
          @include flexbox();
          a{
            font-size: $font-size-sm;
          }
          &::after{
            content: "";
            display: block;
            width: 1px;
            height: 14px;
            background-color: #000;
            margin:0 14px;
          }
          &:last-child{
            &::after{
              display: none;
            }
          }
        }
      }
      &.sns-links{
        gap:14px;
      }
    }
  }
  .company-info {
    padding-top:30px;
    dl {
      color:$font-gray;
      line-height: $font-size-xl;
      dt {
        &:first-child{
          font-weight: 700;
        }
        // 보이는 dt들 (사업자 번호, 대표)
        &:not(.text-ir):not(:first-child) {
          display: inline;
          margin-right: 4px;
        }
      }
      
      dd {
        // 사업자 번호와 업종을 한 줄로
        &:nth-of-type(2) { // 사업자 번호
          display: inline;
          margin-right: 0;
          &::after {
            content: " | ";
            margin: 0 4px;
          }
        }
        &:nth-of-type(3) { // 업종
          display: inline;
          margin-bottom: 8px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &.ceo{
        @include flexbox(flex-start,center);
        dt{
          font-weight: normal;
        }
      }
    }
  }
}