.icon{
  display: block;
  width: 32px;
  height: 32px;
  &.check-icon{
    position: absolute;
    right:16px;
    top:43px;
    width: 28px;
    height: 28px;
    background-image: url('../../images/icon-check-off.svg');
  }
}