.item-lists{
  @include flexbox(flex-start);
  flex-wrap: wrap;
  gap:78px 70px;
  .img-wrap{
    margin-bottom: 16px;
  }
  .product-list{
    width:380px;
    flex-shrink: 0;
    .img-wrap{
      width: 380px;
      height: 380px;
      overflow: hidden;
      border-radius: 10px;
      img{
        transition: all 0.4s;
      }
    }
    .product-brand{
      color:$font-gray;
    }
    .product-name{
      font-size: $font-size-md;
      margin:10px 0;
    }
    .product-price{
      b{
        font-size:$font-size-xl;
        font-weight: 700;
      }
    }
    &:hover{
      .img-wrap{
        img{
          transform: scale(1.2)
        }
      }
    }
  }
}