@mixin button($bgColor:$primary-color,$textColor:#fff,$width:100%) {
  background-color: $bgColor;
  color: $textColor;
  font-size: $font-size-base;
  padding: 17px 30px;
  border: none;
  border-radius:5px;
  cursor: pointer;
  width:$width;
  transition: background-color 0.2s;
  &:hover {
    background-color: darken($bgColor, 10%);
  }
}

@mixin flexbox($justfiy:center,$align:center) {
  display: flex;
  justify-content: $justfiy;
  align-items: $align;
}