.sign-up{
  padding-bottom:120px;
  .form-group{
    @include flexbox(flex-start);
    flex-wrap: wrap;
    position: relative;
    gap:10px 12px;
    margin-top:24px;
    &:first-child{
      margin-top:0;
    }
    label{
      width: 100%;
      color:$font-gray;
    }
    input,select{
      border:1px solid $line-gray;
      height: 54px;
      border-radius: 5px;
      padding:0 16px;
      margin:0;
    }
    .primary-btn{
      margin:0;
    }
    //비번 icon
    &.pw-check{
      .pw-check-icon{
        background-image: url('../../images/icon-check-on.svg');
      }
    }
    &.has-btn-group{
      input{
        width: calc(100% - 134px);
      }
      button{
        width: 122px;
      }
    }
    //error-text
    p{
      color:$danger-color;
    }

    //id문제없을시
    &.id-check-ok{
      p{
        color:$primary-color;
      }
    }
    //오류시 bordercolor
    &.id-check-error,
    &.pw-error{
      input{
        border-color: $danger-color;;
      }
    }

    //phone
    &.phon-group{
      select,input{
        width: calc((100% - 24px)/3);
      }
      select{
        -webkit-appearance: none;
        background-image: url('../../images/icon-down-arrow.svg');
        background-repeat: no-repeat;
        background-position: center right 12px;
      }
    }
  }

  .terms-agreement{
    padding:34px 35px;
    input[type="checkbox"]{
      display: none;
      & + label{
        padding-left:26px;
        display: block;
        position: relative;
        color:$font-gray;
        line-height: 1.25;
        &::after{
          content:"";
          position: absolute;
          width: 16px;
          height: 16px;
          border:1px solid $line-gray;
          left:0;
          top:2px;
        }
      }
      &:checked + label::after{
        content:"";
        border:1px solid $primary-color;
        background-image: url('./../../images/icon-check.svg');
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }
  }
}