.tab-wrap{
  width: 100%;
  .tab-btns{
    @include flexbox(flex-start);
    button{
      height: 60px;
      border-radius: 10px 10px 0 0;
      background-color: $background-gray;
      border:1px solid $line-gray;
      width: 50%;
      font-size: $font-size-md;
      &.on{
        border-bottom: none;
        background-color: $white-color;
      }
    }
  }
  .tab-content{
    padding:35px;
    border:1px solid $line-gray;
    border-radius: 0 0 10px 10px;
    border-top:none;
  }
}