// colors
$primary-color: #21BF48;
//$secondary-color: #2ecc71;
//$accent-color: #e67e22;
$danger-color: #EB5757;
$line-gray:#C4C4C4;
$font-gray:#767676;
$text-color: #2c3e50;
$background-gray:#F2F2F2;
$white-color: #ffffff;



$font-size-xs: 0.75rem;   // 12px
$font-size-sm: 0.875rem;  // 14px
$font-size-base: 1rem;    // 16px
$font-size-md: 1.125rem;  // 18px
$font-size-lg: 1.25rem;   // 20px
$font-size-xl: 1.5rem;    // 24px
$font-size-2xl: 2rem;     // 32px
$font-size-3xl: 2.5rem;   // 40px